#section1 {
  background: rgb(227, 205, 21);
  background: linear-gradient(
    174deg,
    rgba(227, 205, 21, 0.829656862745098) 33%,
    rgba(255, 229, 7, 0.6671918767507004) 100%,
    rgba(254, 252, 235, 1) 100%
  );
}
#section2 {
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 33%,
    rgba(94, 94, 94, 0) 100%,
    rgba(254, 252, 235, 1) 100%
  );
}
