@import "../sass/bootstrap-5.3.2/scss/functions";
@import "../sass/bootstrap-5.3.2/scss/variables";


$new-primary : #1EB253;
$new-secondary: #181818;
$new-tertiary: #242424;

$new-theme-colors: (
    "grigino": #2d2d2d,
    "primary" : $new-primary,
    "secondary": $new-secondary,
    'tertiary':$new-tertiary,
    "fontB": #D2D2D2,
    "black": #060606,
    "fontB50" : rgba(209, 209, 209, 0.70),
    "badgeBlue" : #4485d6,
    "playerButtonColor": rgba(138, 138, 138, 0.836),
    "friendFeed": rgb(175, 175, 175),
    //  colore per scurire ulteriormente il nascondi annunci------
    "darkerBg": #1f1f1f76,
);
// font size per "Altro che ti piace"
.fs-7{ font-size: 1.2rem;
}
// font-size e spacing per "Visualizza tutto"
.fs-small{font-size: 0.7rem;
}
.custom-letter-spacing {
  letter-spacing: 2px;
}

// FIX icone
.sideBarIcon {
    margin-right: 14px;
    margin-bottom: 8px;
    margin-top: 2px;
  }


#friendActivityButton { border-radius: 50%;}

#usersDropdownButton { right: 80px; top: 15px; z-index: 9999; } 

.circle {
border-radius: 50%; }

#list-Side-Bar {
    max-height: 70vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($new-theme-colors, "grigino");
        height: 20%;  /* Adjust the height as needed */
        min-height: 1px; 

    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: map-get($new-theme-colors, "fontB");
    }

    &::-webkit-scrollbar-track {
        background-color: map-get($new-theme-colors, "dark");
    }
}

#bannerMid{
    background: rgb(6,6,6);
background: linear-gradient(45deg, rgba(6,6,6,1) 0%, rgba(246,246,246,0) 100%);
}

#mid-part{
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($new-theme-colors, "grigino");
        height: 0.5%;  /* Adjust the height as needed */
        min-height: 1px; 

    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: map-get($new-theme-colors, "fontB");
    }

    &::-webkit-scrollbar-track {
        background-color: map-get($new-theme-colors, "dark");
    }
}

.shadowB{
    -webkit-box-shadow: 0px 10px 15px 4px #1b1b1b; 
    box-shadow: 0px 10px 15px 4px #1b1b1b;
}

.friendAnchors{text-decoration: none !important; }


#player-bar {
  display: flex;
  align-items: center;

  #play-btn {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
  }
};

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#player-container {
  max-width: 200px;
 
}

#progress-container {
  height: 5px;
  background-color: #313131;
  width: 90%
}

#progress-bar {
  height: 100%;
  background-color: #e9e9e9;
  width: 0;
  border-radius: 20px;
  position: relative;
  
  &:hover, &:active {
      background-color: #59d860;

      &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -10px;
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 50%;
          transform: translate(-50%, -50%);
  
      }
  }

}

// volume sliderr
#volumeSlider {
  width: 150px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 20px; 
  background: #e9e9e9; 
  outline: none;
  transition: background-color 0.2s;
  overflow: hidden;
    
  &::-webkit-slider-runnable-track {
      background: #a1a1a1;
      border-radius: 5px;
    }
    
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(255, 255, 255)
  }

  &:hover::-webkit-slider-thumb,
  &:active::-webkit-slider-thumb {
    background: #59d860; 
    box-shadow: -407px 0 0 400px #59d860
  }


}

.iconImg{
  width: 20px;
  opacity: 80%;

  &:hover{
      opacity: 100%;
  }
}

#album-cover{ margin-left: 110px; filter: brightness(2); 
}

// #player-bar .opacity-75 img {
//   opacity: 1; // Imposto l'opacità solo dell'immagine a 1
// } non funziona

#right-player{padding-right: 50px;
}




$theme-colors: map-merge($theme-colors, $new-theme-colors);

@import '../sass/bootstrap-5.3.2/scss/bootstrap.scss';