nav {
    ul{
        display: flex;
        list-style-type: none;
        
        li {
            font-size: 1.5em;
        }
        button {
            border-radius: 100%;
            border: none;
        }
    }
}


.col-6 {
    overflow: hidden;
    position: relative;
    height: 10vh;
    width: 4vw;
    h3 {
        display: inline;
    }
    img {
        transform: rotate(30deg);
        width: 5em;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}